*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Space Mono', monospace;
  font-weight: 700;
}
body{
  background-color: #C5E4E7;
  height: 100vh;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

label{
  color: #5E7A7D !important;
  font-size: 16px !important;
  line-height: 24px !important;
  margin-bottom: 6px !important;
}
.logo{
  display: flex !important;
  justify-content: center !important;
  padding: 3em 0;
  margin: 0 auto;
 }

  @media (min-width: 900px) {
    .left{
      width: 50%;
      height: 100%;
     }
     .right{
      width: 50%;
     }
  }